.navindex {
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu-index {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 20px;
}

.menu-links-index a {
    text-decoration: none;
    color: rgb(247, 133, 27);
    transition: color .5s;
    border-radius: 5px;
}

.menu-links-index a:hover {
    color: rgb(0, 0, 0);
}
.imgK {
    width: 200px;
    height: 200px;
}
.imgR {
    width: 200px;
    height: 200px;
}
.imgF {
    width: 200px;
    height: 200px;
}
/* De acá para abajo comienza el LOG-IN*/

/*De acá para abajo empieza REGISTRA-TU-NEGOCIO*/
/*Utilizo bootstrap*/
.botoninicioRN {
    display: block;
    margin-top: 50px;
    color: rgb(247, 133, 27);
    transition: 1s;
}

.botoninicioRN:hover {
    color: white;
}

.listo,
.resetear {
    background-color: rgb(247, 133, 27);
    border: none;
    transition: 1s;
    width: 20%;
}

.listo:hover,
.resetear:hover {
    background-color: white;
    color: black;
    border: solid 1px rgb(247, 133, 27);
}

/*De acá para abajo INICIAR SESIÓN*/
/*Utilizo bootstrap*/
.contenedorF {
    text-align: center;
    align-items: center;
}

.botoningresar {
    text-align: center;
    margin-top: 30px;
    background-color: rgb(247, 133, 27);
    border: none;
    transition: 1s;
}

.botoningresar:hover {
    background-color: white;
    color: black;
    border: solid 1px rgb(247, 133, 27);
}

/*De acá para abajo NOSOTROS*/
.mapa-nosotros {
    width: 100% !important;
    transition: 1s;
    height: 250px;
    border-radius: 15px;
}

.mapa-nosotros:hover {
    width: 500px !important;
}

.link-inicio-nosotros {
    color: rgb(247, 133, 27);
    transition: 0, 7ms;
}

.link-inicio-nosotros:hover {
    color: white;
}

/*Contacto*/
.nae {
    width: 100%;
}

.genero {
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.radios {
    width: 15px;
    height: 15px;
}

.C-E {
    display: flex;
    justify-content: space-around;
}

.select {
    height: 29px;
}

.botoninicio-contacto {
    margin-top: 50px;
    color: #f7851b;
    transition: 1s;
}

.botoninicio-contacto:hover {
    color: white;
}

.textareac {
    transition: 1s;
}

.textareac:hover {
    width: 50%;
    margin-left: 25%;
}

.header {
    display: flex;
}

.imgheader {
    height: 100px;
}

.iniciarsesion {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.link-is {
    text-decoration: none;
    color: #f7851b;
}

.footer {
    background-color: #f7851b;
    
}
.footer ul{
    list-style: none;
    color: white;
    text-decoration: none;
}
    
    