.nae {
    width: 100%;
}

.genero {
    text-align: center;
    display: flex;
    margin-bottom: 50px;
}

.radios {
    width: 15px;
    height: 15px;
    accent-color: $colorprincipal;    
}

.C-E {
    display: flex;
    justify-content: space-around;
}

.select {
    height: 29px;
}

.textareac {
    transition: 1s;
}

.textareac:hover {
    width: 50%;
    margin-left: 25%;
}
.checkbox{
    accent-color: $colorprincipal;
}
@media screen and (max-width:768px){
    .genero{
        display:block;
    }
    .separaRadio{
        margin-top: 30px;
    }
    .C-E{
        h2{
            font-size: 25px;
        }
    }
}
