.imgK {
    width: 200px;
    height: 200px;
    margin-top: 12px;
    
}
.imgR {
    width: 200px;
    height: 200px;
    margin-top: 12px;
}
.imgF {
    width: 200px;
    height: 200px;
    margin-top: 12px;
}