.imgK {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    
}
.imgR {
    width: 200px;
    height: 200px;
    margin-top: 40px;
}
.imgF {
    width: 200px;
    height: 200px;
    margin-top: 40px;
}
